<ul class="nav" @onclick="ClearDepositCalculationStateService">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Calculations
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="history">
            History
        </NavLink>
    </li>
</ul>