@page "/"

@using DepositCalculator.UI.Components

<PageTitle>Deposit Calculation</PageTitle>

<div class="container">
    <div class="form-container">
        <DepositFormComponent />
    </div>
    <div class="table-container">
        <DepositCalculationTableComponent />
    </div>
</div>